# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
!go.mod
!docs/go.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
ChibiOS
nanopb
public
docs/themes/docsy
docs-dist
software/embedded/boards/bittag-base-jlcpcb-v3
software/embedded/boards/bittag-base-v5*
software/embedded/boards/BitTagNG-proto
software/embedded/tags/AccelTag
software/embedded/tags/BitTagNG-proto
software/embedded/tags/LuxTag
software/embeeded/tags/NucleoTag
hardware/AccelTag
hardware/LuxTag

software/embedded/proto-c/acceltag-proto-c
software/embedded/proto-c/bittagng-proto-c 
software/embedded/proto-c/luxtag-proto-c 
hardware/tag-breakout-template/jlcpcb/
.vscode
.DS_Store
site/
__pycache__/
